<CascadingAuthenticationState>
    <Microsoft.AspNetCore.Components.Routing.Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @*<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    Waiting......
                </Authorizing>
                <NotAuthorized>
                    <div class="alert alert-danger" role="alert">
                        click <a href="/login" class="alert-link">login</a> to get auth
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>*@
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <NotFound/>
        </NotFound>
    </Microsoft.AspNetCore.Components.Routing.Router>
</CascadingAuthenticationState>
